# Django settings
SECRET_KEY=******* # sicret key Django
DEBUG=True

# server parameters
NAME=*****
USER=*****
PASSWORD=*******
HOST=*******
PORT=****

STRIPE_SECRET_KEY=*****************
STRIPE_PUB_KEY=****************
TEST_CARD=4242424242424242

EMAIL_USER=**********
PASSWORD_EMAIL_USER=********

CELERY_BROKER_URL=******
CELERY_RESULT_BACKEND=******

DOCKER_HUB_ACCESS_TOKEN=********
DOCKER_HUB_USERNAME=*******

SSH_USER=********
SERVER_IP=********
DEPLOY_DIR=********